<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Throid Detection</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sansdisplay=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="static\images\logo1.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="static/js/mail.js"></script>
  </head>
     
  <body> 
    <style>
      body {
        background-image: url("static/images/IMAGE08.jpg");
      }
      </style>

    <!--Navigation bar-->
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid ">
                
              <a class="img" href="#"><img src="static\images\logo1.png" style="width:120px; margin:0 auto;"> </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      More Detection
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Cancer Detection</a>
                      </li>
                      <li><a class="dropdown-item" href="#">Tumour Detection</a></li>
                      <li><a class="dropdown-item" href="#">Infection Detection</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Coming soon</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Further Projects are coming soon...</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
        <!--Form part-->
        <br>
        <br>
        <br>
        <div class="container">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="email" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exmpleName" class="form-label">Name</label>
              <input type="text" class="form-control" name='fname' id="Name">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="myCheck1">receive a  mail</label>
            </div>
            <a href="/predict" button type="submit" class="btn btn-primary" >Submit</button></a>
          </form>
        </div>
    </header>
    <marquee><h3>THIS IS GROUP 1 MCA STUDENT'S MINOR PROJECT @ IEM KOLKATA,2022!!!</h3></marquee>

    <section id="footer">
        <div class="social-links">
            <p>&copy; Copyright 2022 MCA MINOR PROJECT</p>
        </div>
    </section>
</body>